{% extends "blog/base.html" %}
{% block content %}

<h1>About Page</h1>

<p>An incredible eye for what's next in fashion. A passionate drive to exceed expectations. For more than 100 years, we've worked to deliver the best possible shopping experience, helping our customers express their style—not just buy fashion.

ShopWorkd , Inc. is a leading fashion retailer offering compelling clothing, shoes and accessories for men, women and kids. Since 1901, we've been committed to providing our customers with the best possible service—and to improving it every day.

This commitment has taken us from a small Seattle shoe shop to the leading fashion retailer we are today. We're proud to serve customers in 40 states and Canada. Customers are served at 119 full-line stores in the U.S., Canada and Puerto Rico, 249 Nordstrom Rack locations, six Trunk Club clubhouses—a personalized styling service, three Jeffrey boutiques, two clearance stores and three Nordstrom Local service concepts. We also serve customers online in 96 countries through Nordstrom.com. And our nordstromrack.com site, which operates in partnership with our private sale site HauteLook, gives customers in the U.S., Canada and Australia access to off-price fashion at considerable savings.

We believe fashion is a business of optimism and in that spirit, we continue to grow and evolve. Free shipping and free returns, mobile shopping and exciting new retail partnerships offer us continued opportunities to serve more customers in more ways with a fresh, relevant shopping experience and inspiring style. Fashion changes. Shopping changes. Our commitment to happy customers doesn't.</p>
{% endblock content %}

