{% extends "blog/base.html" %}
{% block content %}
<h1><b> Our Services </b></h1>
<h2>International Shipping</h2>
<p>From across the border to around the globe, we'll get it there for you.</p>
<h2>Returns & Exchanges</h2>
<p>Don't love it? Return it for free. It's that easy.</p>
<h2>Check Your Order</h2>
<p>From across the border to around the globe, we'll get it there for you.</p>
<div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">Check Order Status</a>
</div>
{% endblock content %}